// Змінні для шрифтів
$font-family: 'Inter', sans-serif;
$second-family: 'Mochiy Pop P One', sans-serif;
$third-family: 'Manrope', sans-serif;

// Вага шрифтів
$regular: 400;
$medium: 500;
$semi-bold: 600;

// Кольори дизайну
$gray-1: #e7e7e7;
$gray-2: #c2c2c2;
$gray-3: #9a9a9a;
$gray-4: #707070;
$gray-5: #434343;
$gray-6: #1b1b1b;

$hero-text-line: #a76b0c;
$design-bg-light: #e6be78;
$design-beige: #fff9b8;
$design-dark-beige: #ba935b;
$design-light-brown: #937234;
$design-brown: #492611;
$design-dark-brown: #20170d;
$design-beige-pressed: #fff58b;
$design-beige-hover: #ffef4d;
$design-bg-dark: #d49e51;
$design-bg-green: #bad64a;
$design-bg-dark-green: #76a321;
$design-bg-light-yellow: #ffff70;
$design-bg-light-orange: #f8a32e;
$design-bg-stroke: #972a03;
$design-bg-dark-orange: #9d4814;
$design-hero-text: #ab091b;
