<section class="about-the-game section-indentation" id="about-the-game">
  <div class="container">
    <h2 class="title">About the game</h2>
    <div class="about-the-game-wrap">
      <div class="about-the-game-info">
        <p class="about-the-game-text text-privacy-policy">
          Mahjong is a classic game that challenges players to clear tiles from
          the board by matching pairs. This digital version brings the
          traditional experience to your fingertips with various levels that
          cater to both beginners and seasoned players.
        </p>
        <p class="text-privacy-policy">
          The game features hundreds of tile layouts, each presenting unique
          strategic challenges. Enhanced with stunning graphics and soothing
          soundtracks, it offers a meditative puzzle experience that sharpens
          your mind while providing relaxation. Regular updates introduce new
          themes and puzzles, ensuring the gameplay remains fresh and engaging.
        </p>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./img/about-the-game/mockups-about.webp    1x,
              ./img/about-the-game/mockups-about@2x.webp 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/about-the-game/about-mockups-desk.webp    1x,
              ./img/about-the-game/about-mockups-deck@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="img-about"
            src="./img/about-the-game/mockup-hero-mob.webp "
            alt="hero"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="line-container">
    <div class="line"></div>
  </div>
</section>
