<section id="benefists" class="benefits-section">
  <div class="container">
    <h2 class="befits-title">Benefits</h2>
    <div class="conteiner-icon">
      <ul class="benefits-list">
        <li class="benefits-link">
          <div class="conteiner-info">
            <svg class="icon-benefits" width="132" height="180">
              <use href="./img/sprite.svg#icon-card-desktop-v"></use>
            </svg>
            <div class="benefits-info">
              <svg class="icon-decor" width="60" height="60">
                <use href="./img/sprite.svg#icon-Star"></use>
              </svg>
              <p class="benefits-pag">4.8<br />Rating</p>
            </div>
          </div>
        </li>
        <li>
          <div class="conteiner-info">
            <svg class="icon-benefits" width="132" height="180">
              <use href="./img/sprite.svg#icon-card-desktop-v"></use>
            </svg>
            <div class="benefits-info">
              <svg class="icon-decor" width="60" height="60">
                <use href="./img/sprite.svg#icon-Download"></use>
              </svg>
              <p class="benefits-pag">50 000+<br />Downloads</p>
            </div>
          </div>
        </li>
        <li>
          <div class="conteiner-info">
            <svg class="icon-benefits" width="132" height="180">
              <use href="./img/sprite.svg#icon-card-desktop-v"></use>
            </svg>
            <div class="benefits-info">
              <svg class="icon-decor" width="60" height="60">
                <use href="./img/sprite.svg#icon-Chat"></use>
              </svg>
              <p class="benefits-pag">1000+<br />Reviews</p>
            </div>
          </div>
        </li>
        <li>
          <div class="conteiner-info">
            <svg class="icon-benefits" width="132" height="180">
              <use href="./img/sprite.svg#icon-card-desktop-v"></use>
            </svg>
            <div class="benefits-info">
              <svg class="icon-decor" width="60" height="60">
                <use href="./img/sprite.svg#icon-connection"></use>
              </svg>
              <p class="benefits-pag">Online &<br />Offline</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="line-container">
    <div class="line"></div>
  </div>
</section>
