<section class="disclaimer section-indentation">
  <div class="container">
    <a
      href="https://play.google.com/store/apps/details?id=air.com.qublix.mahjong"
      target="_blank"
      class="google-play-btn"
    >
      <svg class="google-play-icon">
        <use href="./img/sprite.svg#icon-playstore"></use>
      </svg>
      <div class="google-play-wrap">
        <p class="google-play-btn-text">GET IT ON</p>
        <svg class="google-play-btn-icon">
          <use href="./img/sprite.svg#google-play"></use>
        </svg>
      </div>
    </a>
  </div>
</section>
