<div class="section-indentation">
  <div class="container footer-wrapper">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a href="./privacy-policy.html" class="footer-nav-link"
          >Privacy policy</a
        >
      </li>
      <span class="separator">|</span>
      <li class="footer-nav-item">
        <a href="./terms-of-use.html" class="footer-nav-link">Terms of use</a>
      </li>
    </ul>
    <div class="some-info">
      <p class="info">All rights reserved coolbestjoy.com</p>
      <span class="separator">|</span>
      <p class="info">2024</p>
    </div>
  </div>
</div>
