<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <h2 class="title-gallery">Gallery</h2>
    <div class="swiper-container">
      <div class="swiper swiper-gallery">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/gallery/image-1-mob.png    1x,
                  ./img/gallery/image-1-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/gallery/image-1.png    1x,
                  ./img/gallery/image-1@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="gallery-img"
                src="./img/gallery/image-1-mob.png"
                alt="decore"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/gallery/image-2-mob.png    1x,
                  ./img/gallery/image-2-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/gallery/image-2.png    1x,
                  ./img/gallery/image-2@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="gallery-img"
                src="./img/gallery/image-2-mob.png"
                alt="decore"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/gallery/image-3-mob.png    1x,
                  ./img/gallery/image-3-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/gallery/image-3.png    1x,
                  ./img/gallery/image-3@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="gallery-img"
                src="./img/gallery/image-3-mob.png"
                alt="decore"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/gallery/image-4-mob.png    1x,
                  ./img/gallery/image-4-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/gallery/image-4.png    1x,
                  ./img/gallery/image-4@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="gallery-img"
                src="./img/gallery/image-4-mob.png"
                alt="decore"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/gallery/image-5-mob.png    1x,
                  ./img/gallery/image-5-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/gallery/image-5.png    1x,
                  ./img/gallery/image-5@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="gallery-img"
                src="./img/gallery/image-5-mob.png"
                alt="decore"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/gallery/image-6-mob.png    1x,
                  ./img/gallery/image-6-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/gallery/image-6.png    1x,
                  ./img/gallery/image-6@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="gallery-img"
                src="./img/gallery/image-6-mob.png"
                alt="decore"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/gallery/image-7-mob.png    1x,
                  ./img/gallery/image-3-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/gallery/image-7.png    1x,
                  ./img/gallery/image-7@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="gallery-img"
                src="./img/gallery/image-7-mob.png"
                alt="decore"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/gallery/image-8-mob.png    1x,
                  ./img/gallery/image-8-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <source
                srcset="
                  ./img/gallery/image-8.png    1x,
                  ./img/gallery/image-8@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="gallery-img"
                src="./img/gallery/image-8-mob.png"
                alt="decore"
              />
            </picture>
          </div>
        </div>
        <div class="conteiner-navigat">
          <div class="button-prev">
            <svg class="icon-gallery" width="8" height="14">
              <use href="./img/sprite.svg#icon-vector-prev"></use>
            </svg>
          </div>
          <div id="paginat-gallery" class="swiper-pagination"></div>
          <div class="button-next">
            <svg class="icon-gallery" width="8" height="14">
              <use href="./img/sprite.svg#icon-vector-next"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="line-container">
    <div class="line"></div>
  </div>
</section>
