<div class="header-content">
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-link">
        <a class="header-nav-link-adress" href="./index.html">Home</a>
      </li>
      <li class="header-nav-link">
        <a class="header-nav-link-adress" href="#reviews">Reviews</a>
      </li>
      <li class="header-nav-link">
        <a class="header-nav-link-adress" href="#about-the-game"
          >About The Game</a
        >
      </li>
      <li class="img-link">
        <a href="./index.html"
          ><img
            class="img-logo"
            srcset="./img/header/logo@2x.png 2x"
            src="./img/header/logo.png"
            alt="logo"
        /></a>
      </li>
      <li class="header-nav-link">
        <a class="header-nav-link-adress" href="#benefists">Benefists</a>
      </li>
      <li class="header-nav-link">
        <a class="header-nav-link-adress" href="#gallery">Gallery</a>
      </li>
      <li class="header-nav-link">
        <a class="header-nav-link-adress" href="#how-to-play">How To Play</a>
      </li>
    </ul>
  </nav>
</div>
