<section id="how-to-play" class="how-to-play">
  <div class="container how-to-play-contein">
    <div class="list-conteiner">
      <h2 class="how-to-play-title">How To Play</h2>
      <ul class="list-how-to-play">
        <li>
          <p class="how-to-play-pag">
            Select matching tiles that are not covered by others
          </p>
        </li>
        <li>
          <p class="how-to-play-pag">
            Only free tiles with at least one side exposed can be matched
          </p>
        </li>
        <li>
          <p class="how-to-play-pag">
            Use the undo button if you make a mistake
          </p>
        </li>
        <li><p class="how-to-play-pag">Use hints if you get stuck</p></li>
        <li>
          <p class="how-to-play-pag">Clear all tiles from the board to win</p>
        </li>
        <li>
          <p class="how-to-play-pag">
            Match tiles quickly to earn bonus points
          </p>
        </li>
        <li>
          <p class="how-to-play-pag">
            Keep an eye on the timer to boost your score
          </p>
        </li>
        <li>
          <p class="how-to-play-pag">
            Progress through levels to unlock new challenges
          </p>
        </li>
      </ul>
    </div>
    <!-- <picture>
      <source
        srcset="
          ./img/how-to-play/gameplay-mob.png    1x,
          ./img/how-to-play/gameplay-mob@2x.png 2x
        "
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./img/how-to-play/gameplay-desk.png    1x,
          ./img/how-to-play/gameplay-desk@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="img-how-to-play"
        src="./img/how-to-play/gameplay-desk.png"
        alt="How to play"
        loading="lazy"
      />
    </picture> -->

    <video
      class="video-how-to-play"
      controls="controls"
      src="./video/gmeplay_Qzp9fQM3.mp4"
      poster="./img/how-to-play/gameplay-desk.png"
    ></video>
  </div>
  <div class="line-container">
    <div class="line"></div>
  </div>
</section>
