<section class="mahjong-tiny-tales first-section">
  <div class="container">
    <div>
      <h1 class="mahjong-tiny-tales-title">Mahjong Tiny Tales</h1>
      <button class="google-play-btn">
        <svg class="google-play-icon">
          <use href="../img/sprite.svg#icon-playstore"></use>
        </svg>
        <div class="google-play-wrap">
          <p class="google-play-btn-text">GET IT ON</p>
          <svg class="google-play-btn-icon">
            <use href="../img/sprite.svg#google-play"></use>
          </svg>
        </div>
      </button>
    </div>
  </div>
</section>
