<section class="mahjong-tiny-tales first-section">
  <div class="container main-wrap">
    <div>
      <h1 class="mahjong-tiny-tales-title">Mahjong Tiny Tales</h1>
      <a
        href="https://play.google.com/store/apps/details?id=air.com.qublix.mahjong"
        target="_blank"
        class="google-play-btn"
      >
        <svg class="google-play-icon">
          <use href="../img/sprite.svg#icon-playstore"></use>
        </svg>
        <div class="google-play-wrap">
          <p class="google-play-btn-text">GET IT ON</p>
          <svg class="google-play-btn-icon">
            <use href="../img/sprite.svg#google-play"></use>
          </svg>
        </div>
      </a>
    </div>
    <div>
      <picture>
        <source
          srcset="
            ./img/hero/mockup-hero-mob.webp    1x,
            ./img/hero/mockup-hero-mob@2x.webp 2x
          "
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./img/hero/mockup-hero-desc.webp    1x,
            ./img/hero/mockup-hero-desc@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <img src="./img/hero/mockup-hero-mob.webp " alt="hero" loading="lazy" />
      </picture>
    </div>
  </div>
  <div class="line-container">
    <div class="line"></div>
  </div>
</section>
