<div class="mobile-menu js-menu-container">
  <div class="header-menu">
    <a class="link-nav-logo" href="./index.html"
      ><img
        class="img-logo-mob"
        srcset="./img/header/logo-mob@2x.png 2x"
        src="./img/header/logo-mob.png"
        alt="logo"
    /></a>
    <button type="button" class="mobile-menu-open-btn js-open-menu">
      <svg
        class="mobile-menu-btn-icon"
        stroke="#20170D"
        width="24"
        height="24"
        aria-label="mobile menu open button"
      >
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <button type="button" class="mobile-menu-close-btn js-close-menu is-hidden">
      <svg
        class="mobile-menu-btn-icon"
        stroke="#20170D"
        width="24"
        height="24"
        aria-label="mobile menu close button"
      >
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile-menu-div is-close">
    <ul class="mobile-menu-nav">
      <li>
        <a class="mobile-link" href="./index.html">Home</a>
      </li>
      <li class="mobile-menu-link">
        <a class="mobile-link" href="#reviews">Reviews</a>
      </li>
      <li class="mobile-menu-link">
        <a class="mobile-link" href="#about-the-game">About The Game</a>
      </li>
      <li class="mobile-menu-link">
        <a class="mobile-link" href="#benefists">Benefists</a>
      </li>
      <li class="mobile-menu-link">
        <a class="mobile-link" href="#gallery">Gallery</a>
      </li>
      <li class="mobile-menu-link">
        <a class="mobile-link" href="#how-to-play">How To Play</a>
      </li>
    </ul>
  </nav>
</div>
