<section class="overview section-indentation">
  <div class="container jutisfy">
    <ul class="overview-list">
      <li class="overview-list-item">
        <p class="overview-list-text">
          Experience the ancient game of strategy and skill with Mahjong, where
          each tile is a step towards mastering puzzles. Delve into layers of
          tactical gameplay, unveiling the mysteries hidden within beautifully
          crafted tiles, set against a backdrop of calming aesthetics and
          engaging challenges. Your journey through the realms of Mahjong
          awaits—connect, clear, and conquer!
        </p>
        <div class="img-overview-perent">
          <picture>
            <source
              srcset="
                ./img/overview/bg-tiles-first.webp    1x,
                ./img/overview/bg-tiles-first@2x.webp 2x
              "
              media="(min-width: 900px)"
            />
            <img
              class="img-overview-first"
              src="./img/overview/bg-tiles-first.webp"
              alt="overview-first"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="overview-list-item">
        <p class="overview-list-text">
          Embark on a tranquil journey with Mahjong, where each puzzle brings
          you closer to mastering this timeless game. Perfect for players
          seeking a blend of relaxation and mental challenge, Mahjong offers
          endless hours of engaging gameplay. Dive into beautifully designed
          levels, unwind with serene soundscapes, and sharpen your strategic
          thinking. Whether you’re a Mahjong aficionado or new to the game, each
          tile offers a new opportunity to challenge your mind. Download now and
          start your puzzle adventure!
        </p>
        <div class="img-overview-perent">
          <picture>
            <source
              srcset="
                ./img/overview/bg-tiles-second.webp    1x,
                ./img/overview/bg-tiles-second@2x.webp 2x
              "
              media="(min-width: 900px)"
            />
            <img
              class="img-overview-second"
              src="./img/overview/bg-tiles-second.webp"
              alt="overview-second"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
    <div class="overview-btn-wrap">
      <div class="img-mobile-overview-perent">
        <picture>
          <source
            srcset="
              ./img/overview/bg-left-mobile.webp    1x,
              ./img/overview/bg-left-mobile@2x.webp 2x
            "
            media="(max-width: 900px)"
          />
          <img
            class="img-overview-left"
            src="./img/overview/bg-left-mobile.webp"
            alt="overview-second"
            loading="lazy"
          />
        </picture>
      </div>
      <a
        href="https://play.google.com/store/apps/details?id=air.com.qublix.mahjong"
        target="_blank"
        class="overview-google-play-btn google-play-btn"
      >
        <svg class="google-play-icon">
          <use href="./img/sprite.svg#icon-playstore"></use>
        </svg>
        <div class="google-play-wrap">
          <p class="google-play-btn-text">GET IT ON</p>
          <svg class="google-play-btn-icon">
            <use href="./img/sprite.svg#google-play"></use>
          </svg>
        </div>
      </a>
      <div class="img-mobile-overview-perent">
        <picture>
          <source
            srcset="
              ./img/overview/bg-right-mobile.webp    1x,
              ./img/overview/bg-right-mobile@2x.webp 2x
            "
            media="(max-width: 900px)"
          />
          <img
            class="img-overview-right"
            src="./img/overview/bg-right-mobile.webp"
            alt="overview-second"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="line-container">
    <div class="line"></div>
  </div>
</section>
