<section class="reviews section-indentation">
  <div class="container">
    <h2 class="title">Reviews</h2>
    <ul class="perent">
      <li class="reviews-link">
        <div class="conteiner-reviews">
          <svg class="icon-reviews">
            <use href="../img/sprite.svg#icon-desk-1desktop"></use>
          </svg>
          <div class="benefits-info">
            <p>JaneDoe123</p>
            <p>
              The best Mahjong experience! The levels are challenging, and the
              graphics are just beautiful.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
