<section class="reviews section-indentation" id="reviews">
  <div class="container">
    <h2 class="title">Reviews</h2>
    <div class="cards">
      <div class="perent">
        <div class="reviews-link first-v">
          <div class="container-reviews">
            <svg class="icon-reviews-v">
              <use href="./img/sprite.svg#icon-card-desktop-v"></use>
            </svg>
            <div class="reviews-info">
              <p class="reviews-subtitle">JaneDoe123</p>
              <p class="reviews-info-text">
                The best Mahjong experience! The levels are challenging, and the
                graphics are just beautiful.
              </p>
            </div>
          </div>
        </div>
        <div class="reviews-link second-v">
          <div class="container-reviews">
            <svg class="icon-reviews-v">
              <use href="./img/sprite.svg#icon-card-desktop-v"></use>
            </svg>
            <div class="reviews-info">
              <p class="reviews-subtitle">TileSeeker67</p>
              <p class="reviews-info-text">
                Highly addictive! It’s hard to stop once you start solving these
                puzzles.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="perent-h">
        <div class="reviews-link first-h">
          <div class="container-reviews">
            <svg class="icon-reviews-h">
              <use href="./img/sprite.svg#icon-card-desktop-h"></use>
            </svg>
            <div class="reviews-info-h">
              <p class="reviews-subtitle">PuzzleMasterMike</p>
              <p class="reviews-info-text-h">
                A perfect game to relax after a long day. Love the different
                themes and tiles!
              </p>
            </div>
          </div>
        </div>
        <div class="reviews-link second-h">
          <div class="container-reviews">
            <svg class="icon-reviews-h">
              <use href="./img/sprite.svg#icon-card-desktop-h"></use>
            </svg>
            <div class="reviews-info-h">
              <p class="reviews-subtitle">ElderGamerBetty</p>
              <p class="reviews-info-text-h">
                The variety of layouts keeps the game interesting. Also, it's
                great for all ages.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="perent">
        <div class="reviews-link first-vl">
          <div class="container-reviews">
            <svg class="icon-reviews-v">
              <use href="./img/sprite.svg#icon-card-desktop-v"></use>
            </svg>
            <div class="reviews-info">
              <p class="reviews-subtitle">StrategySam</p>
              <p class="reviews-info-text">
                Great for improving concentration. Also, the hints are helpful
                for beginners.
              </p>
            </div>
          </div>
        </div>
        <div class="reviews-link second-vl">
          <div class="container-reviews">
            <svg class="icon-reviews-v">
              <use href="./img/sprite.svg#icon-card-desktop-v"></use>
            </svg>
            <div class="reviews-info">
              <p class="reviews-subtitle">CreativeCass</p>
              <p class="reviews-info-text">
                Impressive design and responsive gameplay. I recommend it to all
                puzzle lovers
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="line-container">
    <div class="line"></div>
  </div>
</section>
