<section class="reviews section-indentation">
  <div class="container">
    <h2 class="title">Reviews</h2>
    <ul class="perent">
      <li class="reviews-link">
        <div class="container-reviews">
          <svg class="icon-reviews">
            <use href="../img/sprite.svg#icon-card-desktop-v"></use>
          </svg>
          <div class="reviews-info">
            <p class="reviews-subtitle">JaneDoe123</p>
            <p class="reviews-info-text">
              The best Mahjong experience! The levels are challenging, and the
              graphics are just beautiful.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="line-container">
    <div class="line"></div>
  </div>
</section>
