.jutisfy {
  justify-content: center;
}

.overview {
  background-color: $design-bg-green;
}

.overview-list {
  display: flex;
  flex-direction: column;
}

.overview-list-item {
  display: flex;
  align-items: center;
}

.overview-list-text {
  max-width: 690px;
  padding: 12px;
  box-shadow: 0 8px 0 0 $design-light-brown;
  background-color: $design-beige;
  margin-bottom: 48px;
  border-radius: 16px;
}

.overview-google-play-btn {
  margin: 0 auto;
}

@media screen and (max-width: 1260px) {
  .img-overview-first {
    display: none;
  }

  .overview-list {
    align-items: center;
  }

  .img-overview-second {
    display: none;
  }

  .overview-btn-wrap {
    height: 95px;
    min-width: 280px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .overview-google-play-btn {
    margin: 0 30px;
  }

  .img-mobile-overview-perent {
    width: 42px;
    position: relative;
  }

  .img-overview-left {
    position: absolute;
    top: 100%;
  }

  .img-overview-right {
    position: absolute;
    bottom: 100%;
  }
}

@media screen and (min-width: 1260px) {
  .img-overview-right {
    display: none;
  }

  .img-overview-left {
    display: none;
  }

  .overview-list-item:last-child {
    flex-direction: row-reverse;
    gap: 194px;
  }

  .overview-list:last-child {
    align-items: flex-end;
  }

  .overview-list-item:first-child {
    align-self: flex-start;
    gap: 126px;
  }

  .overview-list-text {
    padding: 20px;
  }
}
