.overview {
  background-color: $design-bg-green;
}

.overview-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview-list-item {
  display: flex;
  align-items: center;
}

.overview-list-text {
  max-width: 690px;
  padding: 12px;
  box-shadow: 0 8px 0 0 $design-light-brown;
  background-color: $design-beige;
  margin-bottom: 48px;
  border-radius: 16px;
}

@media screen and (max-width: 1259px) {
  .img-overview-first {
    display: none;
  }

  .img-overview-second {
    display: none;
  }
}

@media screen and (min-width: 1260px) {
  .overview-list-item:last-child {
    flex-direction: row-reverse;
    gap: 194px;
  }

  .overview-list:last-child {
    align-items: flex-end;
  }

  .overview-list-item:first-child {
    align-self: flex-start;
    gap: 126px;
  }

  .overview-list-text {
    padding: 20px;
  }
}
