.reviews {
  background-color: $design-bg-dark-green;
}

.icon-reviews {
  width: 132px;
  height: 180px;
}

.container-reviews {
  position: relative;
}

.reviews-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 20px;
  width: 132px;
}

.reviews-subtitle {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  color: $design-dark-brown;
  margin-bottom: 12px;
}

.reviews-info-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: $design-dark-brown;
  width: 108px;
}
