.reviews {
  background-color: $design-bg-dark-green;
}

.cards {
  display: flex;
  flex-direction: column;
}

.perent {
  display: flex;
  margin: 0 auto;
  height: 256px;
  position: relative;
  margin-bottom: 20px;
}

.first-v {
  position: absolute;
  top: 0;
  right: 5px;
}

.second-v {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.first-vl {
  position: absolute;
  top: 0;
  right: 5px;
}

.second-vl {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.icon-reviews-v {
  width: 132px;
  height: 180px;
}

.container-reviews {
  position: relative;
}

.reviews-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: -11px;
  width: 100%;
}

.reviews-subtitle {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  color: $design-dark-brown;
  margin-bottom: 12px;
}

.reviews-info-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: $design-dark-brown;
  width: 108px;
}

.perent-h {
  display: flex;
  margin: 0 auto;
  height: 280px;
  position: relative;
  margin-bottom: 20px;
}

.icon-reviews-h {
  width: 202px;
  height: 128px;
}

.reviews-info-text-h {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: $design-dark-brown;
  width: 162px;
}

.reviews-info-h {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 12px;
  width: 100%;
}

.first-h {
  position: absolute;
  top: 0;
  right: -72px;
}

.second-h {
  position: absolute;
  bottom: 0;
  left: -72px;
}

@media screen and (min-width: 1430px) {
  .cards {
    display: flex;
    flex-direction: row;
    height: 384px;
  }

  .perent {
    height: 384px;
    max-width: 384px;
    margin-bottom: 0;
  }

  .icon-reviews-v {
    width: 180px;
    height: 258px;
  }

  .reviews-info {
    top: 17px;
    right: -20px;
  }

  .reviews-subtitle {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .reviews-info-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .perent-h {
    height: 384px;
    max-width: 384px;
    margin-bottom: 0;
  }

  .icon-reviews-h {
    width: 282px;
    height: 180px;
  }

  .reviews-info-text-h {
    width: 234px;
    font-size: 16px;
    line-height: 1.25;
  }

  .first-v {
    right: 15px;
  }

  .second-vl {
    position: absolute;
    bottom: 0;
    left: 15px;
  }

  .reviews-info-h {
    top: 20px;
    left: 20px;
  }
}
