:root {
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  font-weight: $regular;

  color: $design-dark-brown;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@import './fonts.scss';
@import './header.scss';
@import './main.scss';
@import './rewiews.scss';
@import './about-the-game.scss';
@import './benefits.scss';
@import './gallery.scss';
@import './how-to-play.scss';
@import './overview.scss';
