.main {
  position: relative;
}

.terms-of-use {
  background-color: $design-bg-green;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-titel {
  visibility: hidden;
  position: absolute;
}

.hero {
  padding-top: 80px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 30px;
}

.all-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.green-section {
  background: #bad64a;
  position: relative;
}

.terms-of-use-parag {
  color: #20170d;
  /* desktop/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.32;
}

.terms-of-use-title {
  color: #492611;
  font-family: 'Mochiy Pop P One';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.48px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.terms-of-use-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bg-leaves-left {
  position: absolute;
  left: 0px;
  top: 59px;
  z-index: 9;
}

.bg-leaves-right {
  position: absolute;
  right: 0px;
  top: 59px;
  z-index: 9;
}

.bg-leaves-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-right: auto;
  margin-left: auto;
  z-index: 9;
}
.yellov-section {
  background: #ffff70;
}

.license-to-use-the-service-title {
  margin-bottom: 24px;
  color: var#492611;
  /* mobile/h2 */
  font-family: 'Mochiy Pop P One';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.48px;
  text-transform: capitalize;
}

.container-license-to-use-the-service {
  margin-bottom: 60px;
}

.license-to-use-the-service-parag {
  color: #20170d;
  /* mobile/body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.32; /* 21.12px */
}

.description-of-service {
  background: #bad64a;
}

.ogange-section {
  background: #f8a32e;
}

.last-section {
  padding-top: 30px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .main::after,
  .main::before {
    content: '';
    position: absolute;
    top: 160px;
    bottom: 151px;
    width: 4%;
    background-size: cover;
    z-index: 2;
  }

  .main::before {
    left: 0;
    background-image: url('../img/bg-leaves-left-desk.png');
  }

  .main::after {
    right: 0;
    background-image: url('../img/bg-leaves-right-desk.png');
  }

  .hero {
    padding-top: 160px;
    padding-bottom: 60px;
  }

  .all-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .terms-of-use-title {
    font-size: 40px;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-bottom: 48px;
  }

  .terms-of-use-container {
    gap: 24px;
  }

  .terms-of-use-parag {
    font-size: 20px;
  }

  .license-to-use-the-service-title {
    margin-bottom: 48px;
    font-size: 40px;
    letter-spacing: 0.8px;
    line-height: normal;
  }

  .container-license-to-use-the-service {
    margin-bottom: 120px;
  }

  .license-to-use-the-service-parag {
    font-size: 20px;
  }

  .last-section {
    padding-top: 60px;
    padding-bottom: 126px;
  }
}
